:root { 
--black_900_7f:#0000007f; 
--gray_600:#757575; 
--white_A700_7f:#ffffff7f; 
--gray_500:#949494; 
--red_A100:#ff8578; 
--deep_purple_A200_19:#a359ff19; 
--gray_900:#26262b; 
--amber_A400:#ffc700; 
--gray_100:#f5f5f5; 
--white_A700_00:#ffffff00; 
--white_A700_33:#ffffff33; 
--green_A700:#0fa859; 
--black_900_00:#00000000; 
--black_900_33:#00000033; 
--black_900:#000000; 
--indigo_A400:#5452ff; 
--black_900_40:#00000040; 
--blue_300:#699cf7; 
--deep_purple_A200:#a359ff; 
--purple_A200:#ff59f7; 
--white_A700:#ffffff; 
}